/*Base Styles */

body {
  background-color: #FFF;
  color: black;
}

nav {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

main {
  padding: 20px;
}

.panel-footer {
  text-align: right;
}

a {
  color: darkblue;
}



